<!-- Main content -->
<section class="content"> 
    <div class="row">
        <nav id="sidebar" style="float:left">
            <div data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
                <strong>BS</strong>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a routerLink="/nguoidung/inforcosothuy/{{id}}/home/{{id}}">
                        <i class="fa fa-link"></i>
                        <span>Trang Chủ</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/nguoidung/inforcosothuy/{{id}}/dichvu/home/{{id}}">
                        <i class="fa fa-link"></i>
                        <span>Dịch vụ</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/nguoidung/inforcosothuy/{{id}}/hoatdong/home/{{id}}">
                        <i class="fa fa-link"></i>
                        <span>Hoạt động</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/nguoidung/inforcosothuy/{{id}}/datlichkham/{{id}}">
                        <i class="fa fa-link"></i>
                        <span>Đặt lịch khám</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/nguoidung/inforcosothuy/{{id}}/suckhoethucung/home/{{id}}">
                        <i class="fa fa-link"></i>
                        <span>Sức khỏe thú cưng</span>
                    </a>
                </li>
            </ul>
        </nav>
    
        <div class="col-lg-7 col-xs-6">
            <router-outlet></router-outlet>
        </div>

    </div>
</section>
<!-- /.content -->