<!-- Main content -->
<section class="content">

    <div class="row">
      <div class="col-lg-3 col-xs-3">
        <ul class="sidebar-menu">
          <li class="">
            <a routerLink="/nguoidung/home">
              <i class="fa fa-link"></i>
              <span>Trang Chủ</span>
            </a>
          </li>
          <li class="">
            <a routerLink="/nguoidung/home">
              <i class="fa fa-link"></i>
              <span>Thú cưng của bạn</span>
            </a>
          </li>          
        </ul>
      </div>
  
      <div class="col-lg-7 col-xs-6" style="overflow:auto; height:624px;">
        <router-outlet></router-outlet>
      </div>
  
      <div class="col-lg-2 col-xs-3" style="overflow:auto; height:624px;">

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Danh sách cơ sở thú y</h3>
          </div>
          <div class="box-body">
            <button class="btn btn-default btn-block">Tên cơ sở thú y số 1</button>
            <button class="btn btn-default btn-block">Tên cơ sở thú y số 1</button>
            <button class="btn btn-default btn-block">Tên cơ sở thú y số 1</button>
            <button class="btn btn-default btn-block">Tên cơ sở thú y số 1</button>
            <button class="btn btn-default btn-block">Tên cơ sở thú y số 1</button>
          </div>
        </div>
  
      </div>
    </div>

  </section>