<!-- Main content -->
<section class="content">

  <div class="col-lg-12">
    <div class="cardTuLamIndex">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách đơn hàng</h3>
        </div>
        <br>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Tên sản phẩm</th>
                <th>Số lượng mua</th>
                <th>Giá sản phẩm</th>
                <th>Tổng giá sản phẩm</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of listCTHD">
              <tr>
                <td>
                  {{ item.SanPham.TenSanPham }}
                </td>
                <td>
                  {{ item.SoLuong }}
                </td>
                <td>
                  {{ item.Gia }}
                </td>
                <td>
                  {{ item.SoLuong*item.Gia }}
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <hr>
          <div class="col-md-12">
            <div class="col-md-4 col-lg-4 col-xs-3">
            </div>
            <div class="col-md-4 col-lg-4 col-xs-6">
              <div *ngIf="!trangThai">
                  <div class="btn btn-info center-block" (click)="duyetDonHang()">Duyệt đơn hàng</div>
              </div>
              
            </div>
            <div class="col-md-4 col-lg-4 col-xs-3">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>