<div class="row" *ngFor="let itemLoaiSanPham of listLoaiSanPhamVoiSanPham">
  <div class="row" style="margin-right: 0px !important; margin-left: 0px !important;">
    <div class="col-md-9">
      <h3>
        {{ itemLoaiSanPham.TenLoaiSanPham }}
      </h3>
    </div>
    <div class="col-md-3">
      <div class="controls pull-right hidden-xs">
        <a class="btn btn-success" routerLink="/nguoidung/kenhcuashop/{{ itemLoaiSanPham.IdShop }}/loaisanpham/{{ itemLoaiSanPham.IdLoaiSanPham }}">View more</a>
      </div>
    </div>
  </div>

  <div *ngIf="itemLoaiSanPham.SanPhams?.length > 0; else elseAgeBlock">
    <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div *ngFor="let itemSanPham of itemLoaiSanPham.SanPhams; let i=index">
            <div *ngIf="i < 4">
              <div class="col-lg-3 col-xs-6">
                <div class="col-item">
                  <div class="photo">
                    <div *ngIf="itemSanPham.HinhAnhChinh == null; else login">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                    </div>
                    <ng-template #login>
                        <img [src] = "urlServer+'Images/'+itemSanPham.HinhAnhChinh" class="img-responsive">
                    </ng-template>
                  </div>
                  <div class="info">
                    <div class="row">
                      <div class="price col-md-12">
                        <h5>
                          {{ itemSanPham.TenSanPham}}</h5>
                        <h5 class="price-text-color">
                          {{ itemSanPham.Gia }}</h5>
                      </div>
                    </div>
                    <div class="separator clear-left">
                      <p class="btn-details" (click)="addProductToCart(itemSanPham, 1)">
                        <i class="fa fa-shopping-cart"></i>
                      </p>
                      <p class="btn-details" routerLink="/nguoidung/kenhnguoiban/viewproduct/{{ itemSanPham.IdSanPham }}">
                        <i class="fa fa-bars"></i>
                      </p>
                    </div>
                    <div class="clearfix">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="line_break">
  </div>
  <ng-template #elseAgeBlock>
    <b style="margin-left: 17px;">Chưa có sản phẩm nào.</b>
  </ng-template>
</div>
<br>