<div class="cart">
  <div class="wrapper row">
    <div class="preview col-md-6">
      <div class="preview-pic tab-content">
        <div class="tab-pane active" id="pic-1">
          <img src="http://placekitten.com/400/252" />
        </div>
        <div class="tab-pane" id="pic-2">
          <img src="http://placekitten.com/400/252" />
        </div>
        <div class="tab-pane" id="pic-3">
          <img src="http://placekitten.com/400/252" />
        </div>
        <div class="tab-pane" id="pic-4">
          <img src="http://placekitten.com/400/252" />
        </div>
        <div class="tab-pane" id="pic-5">
          <img src="http://placekitten.com/400/252" />
        </div>
      </div>
      <ul class="preview-thumbnail nav nav-tabs">
        <li class="active">
          <a data-target="#pic-1" data-toggle="tab">
            <img src="http://placekitten.com/200/126" />
          </a>
        </li>
        <li>
          <a data-target="#pic-2" data-toggle="tab">
            <img src="http://placekitten.com/200/126" />
          </a>
        </li>
        <li>
          <a data-target="#pic-3" data-toggle="tab">
            <img src="http://placekitten.com/200/126" />
          </a>
        </li>
        <li>
          <a data-target="#pic-4" data-toggle="tab">
            <img src="http://placekitten.com/200/126" />
          </a>
        </li>
        <li>
          <a data-target="#pic-5" data-toggle="tab">
            <img src="http://placekitten.com/200/126" />
          </a>
        </li>
      </ul>

    </div>
    <div class="details col-md-6">
      <h3 class="product-title">men's shoes fashion</h3>
      <div class="rating">
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <span class="review-no">41 reviews</span>
      </div>
      <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim
        sociosqu delectus posuere.</p>
      <h4 class="price">current price:
        <span>$180</span>
      </h4>
      <p class="vote">
        <strong>91%</strong> of buyers enjoyed this product!
        <strong>(87 votes)</strong>
      </p>
      <h5 class="sizes">sizes:
        <span class="size" data-toggle="tooltip" title="small">s</span>
        <span class="size" data-toggle="tooltip" title="medium">m</span>
        <span class="size" data-toggle="tooltip" title="large">l</span>
        <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
      </h5>
      <h5 class="colors">colors:
        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
        <span class="color green"></span>
        <span class="color blue"></span>
      </h5>
      <div class="action">
        <button class="add-to-cart btn btn-default" type="button">add to cart</button>
        <button class="like btn btn-default" type="button">
          <span class="fa fa-heart"></span>
        </button>
      </div>
    </div>
  </div>

  <hr>
  <div class="col-xs-12">
    <ul class="menu-items">
      <p> Detalle del producto</p> 
    </ul>
    <div style="width:100%;border-top:1px solid silver">
      <p style="padding:15px;">

          Stay connected either on the phone or the Web with the Galaxy S4 I337 from Samsung. With 16 GB of memory and a 4G connection,
          this phone stores precious photos and video and lets you upload them to a cloud or social network at blinding-fast
          speed. With a 17-hour operating life from one charge, this phone allows you keep in touch even on the go. With
          its built-in photo editor, the Galaxy S4 allows you to edit photos with the touch of a finger, eliminating extraneous
          background items. Usable with most carriers, this smartphone is the perfect companion for work or entertainment.

      </p>

        <ul>
          <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
          <li>Available on GSM, AT T, T-Mobile and other carriers</li>
          <li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
          <li>MicroUSB and USB connectivity</li>
          <li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
          <li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
          <li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
          <li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel
            picture</li>
          <li>Features 16 GB memory and 2 GB RAM</li>
          <li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
          <li>17 hours of talk time, 350 hours standby time on one charge</li>
          <li>Available in white or black</li>
          <li>Model I337</li>
          <li>Package includes phone, charger, battery and user manual</li>
          <li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
        </ul>

    </div>
  </div>
</div>