<div id="pg-235-2" class="col-lg-12 col-xs-12 panel-grid panel-has-style">

  <div id="pgc-235-2-1" class="col-lg-6 col-xs-6">
    <div id="panel-235-2-1-0" class="so-panel ots-link panel-first-child" data-index="9">
      <div style="padding: 0 0 10px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-0">
        <a routerLink="/nguoidung/inforcosothuy/1/dichvu/detail" id="widget_link_18" class="text-link" target="_self">Chăm sóc răng miệng</a>
      </div>
    </div>
    <div id="panel-235-2-1-1" class="so-panel widget_text panel-last-child" data-index="10">
      <div style="padding: 0 0 45px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-1">
        <div class="textwidget">Để phòng ngừa bệnh và hạn chế các tổn thương cho vật nuôi do vệ sinh chưa đúng cách, PetCare cung cấp dịch vụ chăm
          sóc răng miệng.</div>
      </div>
    </div>
  </div>
  <div id="pgc-235-2-1" class="col-lg-6 col-xs-6">
    <div id="panel-235-2-1-0" class="so-panel ots-link panel-first-child" data-index="9">
      <div style="padding: 0 0 10px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-0">
        <a routerLink="/nguoidung/inforcosothuy/1/dichvu/detail" id="widget_link_18" class="text-link" target="_self">Chăm sóc răng miệng</a>
      </div>
    </div>
    <div id="panel-235-2-1-1" class="so-panel widget_text panel-last-child" data-index="10">
      <div style="padding: 0 0 45px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-1">
        <div class="textwidget">Để phòng ngừa bệnh và hạn chế các tổn thương cho vật nuôi do vệ sinh chưa đúng cách, PetCare cung cấp dịch vụ chăm
          sóc răng miệng.</div>
      </div>
    </div>
  </div>
  <div id="pgc-235-2-1" class="col-lg-6 col-xs-6">
    <div id="panel-235-2-1-0" class="so-panel ots-link panel-first-child" data-index="9">
      <div style="padding: 0 0 10px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-0">
        <a routerLink="/nguoidung/inforcosothuy/1/dichvu/detail" id="widget_link_18" class="text-link" target="_self">Chăm sóc răng miệng</a>
      </div>
    </div>
    <div id="panel-235-2-1-1" class="so-panel widget_text panel-last-child" data-index="10">
      <div style="padding: 0 0 45px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-1">
        <div class="textwidget">Để phòng ngừa bệnh và hạn chế các tổn thương cho vật nuôi do vệ sinh chưa đúng cách, PetCare cung cấp dịch vụ chăm
          sóc răng miệng.</div>
      </div>
    </div>
  </div>
  <div id="pgc-235-2-1" class="col-lg-6 col-xs-6">
    <div id="panel-235-2-1-0" class="so-panel ots-link panel-first-child" data-index="9">
      <div style="padding: 0 0 10px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-0">
        <a routerLink="/nguoidung/inforcosothuy/1/dichvu/detail" id="widget_link_18" class="text-link" target="_self">Chăm sóc răng miệng</a>
      </div>
    </div>
    <div id="panel-235-2-1-1" class="so-panel widget_text panel-last-child" data-index="10">
      <div style="padding: 0 0 45px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-1">
        <div class="textwidget">Để phòng ngừa bệnh và hạn chế các tổn thương cho vật nuôi do vệ sinh chưa đúng cách, PetCare cung cấp dịch vụ chăm
          sóc răng miệng.</div>
      </div>
    </div>
  </div>
  <div id="pgc-235-2-1" class="col-lg-6 col-xs-6">
    <div id="panel-235-2-1-0" class="so-panel ots-link panel-first-child" data-index="9">
      <div style="padding: 0 0 10px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-0">
        <a routerLink="/nguoidung/inforcosothuy/1/dichvu/detail" id="widget_link_18" class="text-link" target="_self">Chăm sóc răng miệng</a>
      </div>
    </div>
    <div id="panel-235-2-1-1" class="so-panel widget_text panel-last-child" data-index="10">
      <div style="padding: 0 0 45px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-1">
        <div class="textwidget">Để phòng ngừa bệnh và hạn chế các tổn thương cho vật nuôi do vệ sinh chưa đúng cách, PetCare cung cấp dịch vụ chăm
          sóc răng miệng.</div>
      </div>
    </div>
  </div>
  <div id="pgc-235-2-1" class="col-lg-6 col-xs-6">
    <div id="panel-235-2-1-0" class="so-panel ots-link panel-first-child" data-index="9">
      <div style="padding: 0 0 10px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-0">
        <a routerLink="/nguoidung/inforcosothuy/1/dichvu/detail" id="widget_link_18" class="text-link" target="_self">Chăm sóc răng miệng</a>
      </div>
    </div>
    <div id="panel-235-2-1-1" class="so-panel widget_text panel-last-child" data-index="10">
      <div style="padding: 0 0 45px 0; " class="panel-widget-style panel-widget-style-for-235-2-1-1">
        <div class="textwidget">Để phòng ngừa bệnh và hạn chế các tổn thương cho vật nuôi do vệ sinh chưa đúng cách, PetCare cung cấp dịch vụ chăm
          sóc răng miệng.</div>
      </div>
    </div>
  </div>

</div>