<div class="row col-md-12">
  <div class="">
      <nav id="sidebar" style="float:left">
          <ul class="list-unstyled components">
              <li>
                  <a routerLink="/nguoidung/home">
                      <i class="fa fa-link"></i>
                      <span>Trang Chủ</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/nguoidung/thucungnguoidung/home/{{idNguoiDung}}">
                      <i class="fa fa-link"></i>
                      <span>Thú cưng của bạn</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/nguoidung/kenhnguoiban">
                      <i class="fa fa-link"></i>
                      <span>Mua sản phẩm</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/nguoidung/hoadondamua">
                    <i class="fa fa-link"></i>
                    <span>Hóa đơn đã mua</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
  <div class="col-sm-7 col-md-7">
    <br>
    <br>
    <div class="box" style="margin-left: 51px; margin-top: -19px;">
      <div class="box-header with-border">
        <h3 class="box-title">Hóa đơn bạn đã mua</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Ngày mua</th>
              <th>Trạng thái</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let item of listHoaDonNguoiDung">
            <tr>
              <td>
                {{ item.NgayLapHoaDon | date: "yyyy-MM-dd"}}
              </td>
              <td>
                {{ item.TrangThai }}
              </td>
              <td class="form-horizontal">
                <button (click)="listHoaDonDetail(item.IdHoaDon)" data-toggle="modal" data-target="#listHoaDonDetailDetalModal" class="btn btn-warning btn-rounded m-b-10 m-l-5">Xem chi tiết</button>
              </td>
              <td class="form-horizontal">
                <div *ngIf="!item.TrangThai">
                  <button (click)="huyDonHang(item.IdHoaDon)" class="btn btn-warning btn-rounded m-b-10 m-l-5">Hủy đơn hàng</button>
                </div>
                <div *ngIf="item.TrangThai">
                  <label>Đơn hàng đã được duyệt</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- modal dùng để hiển thị thông tin tài khoản -->
<div class="modal fade" id="listHoaDonDetailDetalModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <label id="title">Thông tin chi tiết sản phẩm trong giỏ hàng</label>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Tổng giá</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of listCTHD">
            <tr>
              <td>
                {{ item.SanPham.TenSanPham }}
              </td>
              <td>
                {{ item.SoLuong }}
              </td>
              <td>
                {{ item.Gia }}
              </td>
              <td>
                {{ item.SoLuong*item.Gia }}
              </td>
            </tr>
          </tbody>
          <br>
          <br>
          <div>
            <strong> Tổng giá trị đơn hàng: {{ tongGiaTriHoaDon }} </strong>
          </div>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>