<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-3 col-xs-3">
      <ul class="sidebar-menu">
        <li class="">
          <a routerLink="/nguoidung/home">
            <i class="fa fa-link"></i>
            <span>Trang Chủ</span>
          </a>
        </li>
        <li class="">
          <a routerLink="/nguoidung/home">
            <i class="fa fa-link"></i>
            <span>Thú cưng của bạn</span>
          </a>
        </li>
        <li class="">
          <a routerLink="/nguoidung/kenhnguoiban">
            <i class="fa fa-link"></i>
            <span>Mua sản phẩm</span>
          </a>
        </li>
        <li class="">
          <a routerLink="/nguoidung/kenhnguoiban/dangkybanhang">
            <i class="fa fa-link"></i>
            <span>Đăng kí bán hàng</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-lg-7 col-xs-7">
      <router-outlet></router-outlet>
    </div>

    <div class="col-lg-2 col-xs-2" style="overflow:auto; height:624px;">
      <label for="">Danh sách các shop</label>
      <br>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Shop thu cưng
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="">Loại sản phẩm 1</a>
            <a role="menuitem" tabindex="-1" href="">Loại sản phẩm 1</a>
            <a role="menuitem" tabindex="-1" href="">Loại sản phẩm 1</a>
          </li>
        </ul>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Shop thu cưng
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="">Loại sản phẩm 1</a>
            <a role="menuitem" tabindex="-1" href="">Loại sản phẩm 1</a>
          </li>
        </ul>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Shop thu cưng
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="">Loại sản phẩm 1</a>
            <a role="menuitem" tabindex="-1" href="">Loại sản phẩm 1</a>
          </li>
        </ul>
      </div>
      <br>
    </div>
  </div>

</section>
<!-- /.content -->